
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/tmpl/fontawesome-free/css/all.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/tmpl/dist/css/adminlte.min.css">
    @RenderSection("CSS", required: false)
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/tmpl/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <p class="dropdown-item">
                                            @User.Identity.Name
                                        </p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <a asp-action="Logout" class="dropdown-item">
                                <i class="far fa-sign-out-alt"></i>
                                <p>Çıxış</p>
                            </a>

                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Home" class="nav-link">Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Home" class="nav-link">Qeydiyyat</a>
                    </li>
                }


            </ul>
        </nav>
        <!-- /.navbar -->
       
        <div class="content">
            @RenderBody()
        </div>


        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Yaradilib: &copy; 2020 Mirze.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/tmpl/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/tmpl/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/tmpl/dist/js/adminlte.min.js"></script>

    @RenderSection("Script", required: false)

</body>
</html>

