@model Banker.UIModel.UIProsInfo
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card card-info">
        <div class="card-header">
            Assing  possision
        </div>
        <div class="card-body">
            @if (Model.AssingePosision.Count > 0)
            {
                @for (int i = 0; i < Model.AssingePosision.Count; i++)
                {
                    <div class="row">
                        <a asp-controller="ProsesInfo" asp-action="Assinge" asp-route-id="@Model.AssingePosision[i].Id">@Model.AssingePosision[i].InsName</a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card card-info">
        <div class="card-header">
            Assing Me
        </div>
        <div class="card-body">
            @if (Model.AssingeMe.Count > 0)
            {
                @for (int i = 0; i < Model.AssingeMe.Count; i++)
                {
                    <div class="row">
                        <a asp-controller="@Model.AssingeMe[i].PosesName" asp-action="@Model.AssingeMe[i].Step" asp-route-id="@Model.AssingeMe[i].ProsessId">@Model.AssingeMe[i].InsName</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

