@model Banker.UIModel.UIReprotProsess
@{
    ViewData["Title"] = "ProsessReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prosesNames = Banker.Tools.CreateSelectListItems.GetSelectListItems(Banker.StaticObj.AllProsess.Prosess);
    var prStatuss = Banker.Tools.CreateSelectListItems.PropToToSelectListItems(typeof(Models.Inistances.ProcessStatus));
    var users = Banker.Tools.CreateSelectListItems.UserToSelectList();
}

@section CSS{
    <link href="~/tmpl/dist/css/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/tmpl/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/tmpl/dist/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/tmpl/dist/css/datatable/responsive.bootstrap4.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
            Proses Info
        </div>
        <form method="post">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="ProsesName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="ProsesName" asp-items="prosesNames" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="StartDate" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="StartDate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="EndDate" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="EndDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="Status" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="Status" asp-items="prStatuss" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="InitiatorId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="InitiatorId" asp-items="users" class="form-control select2bs4">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ResponsibleId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="ResponsibleId" asp-items="users" class="form-control select2bs4">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-footer">
                <button asp-action="SearchIns" asp-controller="ProsesInfo" type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    @if (Model?.Response.Count > 0)
    {
        <div class="card card-success">
            <div class="card-header">
                Prosess
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                </div>
            </div>
            <div class="card-body">
                <table id="prosess" class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th>ProsesName</th>
                            <th>Status</th>
                            <th>StatryDate</th>
                            <th>EndDate</th>
                            <th>Initiator</th>
                            <th>Responsible</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Response)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" asp-controller="@Model.ProsesName" asp-action="Info" asp-route-id="@item.Id" >@Model.ProsesName</a>
                               
                                </td>
                                <td>@item.Status</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@users.Where(x => x.Value == item.InitiatorId.ToString()).FirstOrDefault().Text</td>
                                <td>@users.Where(x => x.Value == item.ResponsibleId.ToString()).FirstOrDefault().Text</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>



@section Script{
    <script src="~/tmpl/dist/js/select2.full.min.js"></script>
    <script src="~/tmpl/dist/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/tmpl/dist/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/tmpl/dist/js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/tmpl/dist/js/datatables/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            $("#prosess").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        })
    </script>
}